<option value="gender_KI">gender_KI</option>
<option value="comm_q1">comm_q1</option>
<option value="comm_q3">comm_q3</option>
<option value="comm_q5">comm_q5</option>
<option value="comm_q11">comm_q11</option>
<option value="comm_q12">comm_q12</option>
<option value="hlth_q27">hlth_q27</option>
<option value="hlth_q25">hlth_q25</option>
<option value="gps_work">gps_work</option>
<option value="current_village">current_village</option>
<option value="informed_consent">informed_consent</option>
<option value="gender_KI">gender_KI</option>
<option value="current_oblast">current_oblast</option>
<option value="hlth_q38">hlth_q38</option>
<option value="hlth_q34">hlth_q34</option>
<option value="hlth_q37">hlth_q37</option>
<option value="hlth_q33">hlth_q33</option>
<option value="hlth_q17">hlth_q17</option>
<option value="hlth_q16">hlth_q16</option>
<option value="hlth_q15">hlth_q15</option>
<option value="hlth_q14">hlth_q14</option>
<option value="hlth_q13">hlth_q13</option>
<option value="hlth_q11">hlth_q11</option>
<option value="hlth_q19">hlth_q19</option>
<option value="hlth_q18">hlth_q18</option>
<option value="hlth_q1">hlth_q1</option>
<option value="hlth_q7">hlth_q7</option>
<option value="hlth_q5">hlth_q5</option>
<option value="hlth_patients_per_doctor">hlth_patients_per_doctor</option>
<option value="hlth_q9">hlth_q9</option>