{% extends "base.html" %}
{% load staticfiles %}


{% block libs %}
    <script src='{% static 'js/mapbox-gl.js' %}'></script>
    <link href='{% static 'css/mapbox-gl.css' %}' rel='stylesheet' />

    <link rel="stylesheet" type="text/css" href='{% static 'css/selectize/selectize.min.css' %}' />
    <link rel="stylesheet" type="text/css" href='{% static 'css/selectize/selectize.default.min.css' %}' />


    <script src='{% static 'js/mapbox-gl-geocoder.js' %}'></script>
    <link rel='stylesheet' href='{% static 'css/mapbox-gl-geocoder.css' %}' type='text/css' />

    <script src='{% static 'js/mapbox-gl-draw.js' %}'></script>
    <link rel='stylesheet' href='{% static 'css/mapbox-gl-draw.css' %}' type='text/css'/>

    <style>

        #menu {
            background: #fff;
{#            position: relative;#}
{#            z-index: 1;#}
{#            top: 10px;#}
{#            right: 10px;#}
            border-radius: 3px;
            border: 1px solid rgba(0,0,0,0.4);
            font-family: 'Open Sans', sans-serif;
        }

        #menu a {
            font-size: 13px;
            color: #404040;
            display: block;
            margin: 0;
            padding: 0;
            padding: 10px;
            text-decoration: none;
            border-bottom: 1px solid rgba(0,0,0,0.25);
            text-align: center;
        }

        #menu a:last-child {
            border: none;
        }

        #menu a:hover {
            background-color: #f8f8f8;
            color: #404040;
        }

        #menu a.active {
            background-color: #3887be;
            color: #ffffff;
        }

        #menu a.active:hover {
            background: #3074a4;
        }
    </style>

{% endblock libs %}


{% block content %}



    <div class="">
        <div class="wrappers" style="height: 500px; width: 20%; float: left; overflow: auto">
            <!-- Sidebar -->
            <div style="height: 100%; overflow: auto;">

                <div class="filter">
                    <label for="oblasts">Oblasts:</label>
                    <select multiple id="oblasts" style="display: none"></select>
                </div>

                <div class="filter">
                    <label for="settlements">Settlements:</label>
                    <select multiple id="settlements" style="display: none"></select>
                </div>

                <div class="filter">
                    <label for="types">Types:</label>
                    <select multiple id="types" style="display: none"></select>
                </div>

                <div class="filter">
                    <label for="sectors">Sector:</label>
                    <select multiple id="sectors" style="display: none"></select>
                </div>

                <div class="filter">
                    <button type="button" id="reset" class="btn btn-secondary">Reset Filters</button>
                </div>


                <div class="filter">
                    <label>Layers:</label>
                    <nav id="menu"></nav>
                </div>

                <div class="filter">
                    <button type="button" id="modal-toggle" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Enter data
                    </button>
                </div>

            </div>
        </div>
        <div class="wrappers" style="width: 80%; float: left">
            <div id='map'></div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="">{% csrf_token %}
                    <div class="modal-body">

                        {{ form }}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="save">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}


{% block libs2 %}

    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/crossfilter.v1.min.js' %}"></script>
    <script src='{% static 'js/selectize.min.js' %}'></script>

    <script src="{% static 'js/d3-queue.v3.min.js' %}"></script>

    <script src="{% static 'js/map-points.js' %}"></script>

    <script>

        d3.queue()
          .defer(d3.json, "{% static 'data/aba/services.geojson' %}")
          .defer(d3.json, "{% static 'data/aba/5km_buffer.geojson' %}")
          .defer(d3.json, "{% static 'data/aba/community_areas.geojson' %}")
          .defer(d3.json, "{% static 'data/aba/5km_settlements.geojson' %}")
          .await(loadData);

        function loadData(error, data, buffer, community_areas, settlements) {

            MapInit(data, buffer, community_areas, settlements);

            var filteredData = [];
            var featureCount = data.features.length;
            var cf = crossfilter(data.features);


            var oblast = cf.dimension(function(d) { return d.properties['ADMIN_1_EN']; });
            var type = cf.dimension(function(d) { return d.properties['Type']; });
            var settlement = cf.dimension(function(d) { return d.properties['ADMIN4_EN']; });
            var sector = cf.dimension(function(d) { return d.properties['Sector']; });


        {#        $('#reset').on('click', function(){#}
        {#            resetSettlement();#}
        {#        });#}




            var createFilter = function (container, dim) {

                var resetDim = function(dim) {
                    dim.filterAll();
                    filteredData = dim.top(Infinity);
                    pointsLayer(filteredData);
                };

                d3.select(container).selectAll('li')
                    .data(
                        dim.group().all().map(function(d) { return d.key })
                    )
                    .enter()
                    .append('option')
                    .attr({ 'value': function(datum) { return datum } })
                    .text(function(datum) { return datum });

                $(container).selectize({
                    plugins: ['remove_button'],
                    delimiter: ',',
                    persist: false,
                    create: false,
                    sortField: 'text'
                }).on('change', function (e) {

                    var filters = [];

                    $(container + " option").each(function() {
                        var value = $(this).val();
                        filters.push(value);

                    });

                    resetDim(dim);

                    if (filters.length != 0) {
                        dim.filterFunction(function(d) { return filters.indexOf(d) != -1 });
                        filteredData = dim.top(Infinity);
                        pointsLayer(filteredData);
                    }
                });
            };

            createFilter('#oblasts', oblast);
            createFilter('#settlements', settlement);
            createFilter('#types', type);
            createFilter('#sectors', sector);

        }

    </script>

<script>

    $('document').ready(function(){
        $('#modal-toggle').on('click', function(){
            var data = draw.getAll();
            $('#id_polygon').val(JSON.stringify(data, null, 2));
        });
    });

</script>

{% endblock libs2 %}