{% extends "base.html" %}
{% load staticfiles %}

    {% block libs %}
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'css/dc.min.css' %}">
        <link rel="stylesheet" href='{% static 'css/selectize/selectize.min.css' %}' />
        <link rel="stylesheet" href='{% static 'css/selectize/selectize.default.min.css' %}' />
        {% comment %}<link rel="//cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />{% endcomment %}
        <style>

        </style>
    {% endblock libs %}


{% block content %}

    <div class="container-fuid content" style="padding-top: 30px">

        <div class="row">

            <div class='col-md-8'>

                <div class="card">
                    <div class="card-header">
                            <div style="width: 300px; display: inline-block">
                                Total number of IDPs
                                <!--<select id="indicator">&lt;!&ndash;class="form-control" &ndash;&gt;-->
                                    <!--<option>Total number of IDPs</option>-->
                                    <!--<option>Number of IDPs/Total population</option>-->
                                    <!--<option>% change in number of IDPs</option>-->
                                <!--</select>-->
                            </div>

                        <!--<label for="indicator">by Oblast</label>-->
                    </div>

                    <div class="card-block">
                        <div class="row">

                            <div class="col-md-9">
                                <input type="text" id="periodSlider" value="" />
                            </div>

                            <!--<select id="periods"></select>-->

                            <div class="col-md-3">
                                <button type="button" id="reset" class="btn btn-secondary">Reset</button>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-9 card-block" id='map' >

                            </div>
                            <!--<h4 class="card-title">Special title treatment</h4>-->
                            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                            <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
                            <div class="" ><!--col-md-3--><!--style="position: absolute; bottom: 0"-->
                                <svg id="legend" width="200px" height="250px"></svg>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        Chart
                    </div>
                    <div class="card-block">
                        <div id='oblasts' class='col-md-12'></div>
                    </div>

                </div>


            </div>

            <div class='col-md-4'>

                <div class="card">
                    <div class="card-header">
                        Data table
                    </div>
                    <div class="card-block">
                        <table id="table" class="table">
                            <thead>
                            <tr>
                                <!--<th>KOATUU</th>-->
                                <th>Oblast</th>
                                <th>#IDPs</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>


{% endblock content %}

{% block libs2 %}
    <script src="{% static 'js/lib/d3.min.js' %}"></script>
    <script src="{% static 'js/lib/crossfilter.v1.min.js' %}"></script>


    <script src="{% static 'js/lib/dc.min.js' %}"></script>
{#    <script src="{% static 'js/dc.min.js' %}"></script>#}
    <script src="{% static 'js/lib/d3-legend.min.js' %}"></script>
    <script src='{% static 'js/lib/selectize.min.js' %}'></script>
    <script src="{% static 'js/lib/moment.min.js' %}"></script>
    <script src="{% static 'ui/jquery-ui.min.js' %}"></script>
    <link href="{% static 'css/ion.rangeSlider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" rel="stylesheet" />
    <script src="{% static 'js/lib/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'data/ukr_adm1b.js' %}"></script>
    <style>
        #map {
            width: 860px;
            height: 450px;
        }

        .dc-table-column._1 {
            text-align: right;
        }

    </style>
    <script src="{% static 'js/idps.js' %}"></script>
{% endblock libs2 %}


