<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


{% block libs %}
    <script src='{% static 'js/mapbox-gl.js' %}'></script>
    <link href='{% static 'css/mapbox-gl.css' %}' rel='stylesheet'/>

    <link rel="stylesheet" type="text/css" href='{% static 'css/selectize/selectize.min.css' %}'/>
    <link rel="stylesheet" type="text/css" href='{% static 'css/selectize/selectize.default.min.css' %}'/>


    <script src='{% static 'js/mapbox-gl-geocoder.js' %}'></script>
    <link rel='stylesheet' href='{% static 'css/mapbox-gl-geocoder.css' %}' type='text/css'/>

    <script src='{% static 'js/mapbox-gl-draw.js' %}'></script>
    <link rel='stylesheet' href='{% static 'css/mapbox-gl-draw.css' %}' type='text/css'/>


{% endblock libs %}

</body>
</html>